<form [formGroup]="form" style="text-align:center">
  <span class="ui-float-label">
  <input pInputText type="text" formControlName="firstName"
         required id="firstName" name="lastName"/>
   <label for="firstName">First Name</label>
  </span>
  <span class="ui-float-label">
  <input pInputText type="text" formControlName="lastName" required
         id="lastName" name="lastName"/>
  <label for="lastName">Last Name</label>
  </span>
  <p-inputMask mask="99-999999" formControlName="masked"
               placeholder="99-999999"></p-inputMask>

  <div *ngIf="form.controls.firstName.errors" class="error">
    <span>Firstname mandatory</span>
  </div>
  <div *ngIf="form.controls.lastName.errors" class="error">
    <span>Lastname mandatory</span>
  </div>
  <button type="submit" (click)="submitUser()" [disabled]="!form.valid">{{buttonLabel}}</button>
</form>
